.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* my css */


body{
  background: url(../public/glassesImage/background.jpg);
  background-size: cover;
  
}
.model {
  position: relative;
}
.model_glass {
  position: absolute;
  width: 100px;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.8;
}
